.navigation {
  display: block;
}
.routeGroup {
  list-style: none;
  display: flex;
  flex: 2;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.nativeRouteGroup {
  background-color: #111; /* #222; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
}

ul.routeGroup li a,
ul.nativeRouteGroup li a {
  color: white;
  text-decoration: none;
}

ul.routeGroup li a p {
  font-size: 1.2em;
  padding: 15px;
  margin: 0;
}

ul.nativeRouteGroup li a {
  display: block;
  padding: 10px 20px;
}

@media only screen and (max-width: 360px) {
  ul.nativeRouteGroup li a {
    padding: 0.4rem 0.9rem;
  }
}

ul.nativeRouteGroup li a i {
  font-size: 2em;
  display: block;
  padding: 0;
}

ul.nativeRouteGroup li a p {
  margin: 0;
  padding-top: 5px;
  font-size: 0.8em;
  display: block;
}

ul.routeGroup li a:hover,
ul.nativeRouteGroup li a:hover {
  color: #f4adea;
  opacity: 0.9;
}
