.image-preload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  filter: blur(5px);
}

.image-loaded {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-fade-in {
  opacity: 1;
}

.image-hide {
  opacity: 0;
}

.image-container-native-color {
  background-color: #f6f7f8;
  position: relative;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
}

@media only screen and (min-width: 400px) {
  .image-container-native-color {
    min-height: 320px;
  }
}

@media only screen and (min-width: 500px) {
  .image-container-native-color {
    min-height: 400px;
  }
}

.image-container-nocolor {
  position: relative;
  overflow: hidden;
  width: 250px;
  min-height: 535px;
}
