.main {
  padding: 4.5rem 5%;
  display: flex;
  flex: 1;
}

.main.native-content {
  padding: 1em 5% 0 5%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.text-main {
  text-align: left;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 5em;
  font-weight: 700;
  color: #111;
  margin-bottom: 1rem;
}

.intro {
  color: #666;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
  line-height: 1.4em;
  margin-bottom: 1rem;
}

.intro.native-content {
  color: #333;
  font-size: 1.2em;
}

.copy {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  line-height: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.copy.native-content {
  line-height: 1.3 em;
}

.image {
  height: 40em;
  margin-top: 2rem;
}

.image.native-content {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
