.socialGroup {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  align-items: center;
}

.hitSlop {
  padding: 15px;
}

.socialhover:hover path {
  fill: #f4aeea;
}

/* @media only screen and (max-width: 600px) {
  .socialGroup {
    display: none;
  }
} */
