.App {
  text-align: center;
}

.App-header {
  background-color: #111; /* #222; */
  display: flex;
  padding: 20px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  text-align: left;
  align-self: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.socialGroup {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.hitSlop {
  padding: 15px;
}

.socialhover:hover path {
  fill: #f40ef0;
}

.logo-hover:hover path,
.logo-hover:hover polygon {
  fill: #f40ef0;
  fill-opacity: 0.6;
}

.logo {
  fill: #f40ef0;
  fill-opacity: 0.5;
  stroke: #000000;
}
