.App-container {
  text-align: center;
}

.App-header,
.App-header-native {
  background-color: #111; /* #222; */
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.App-header-native {
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-footer {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
