.App {
  text-align: center;
}

.App-header {
  background-color: #111; /* #222; */
  display: flex;
  padding: 20px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  text-align: left;
  align-self: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.socialNav {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.social {
  padding: 15px;
}

/* a:hover path {
  fill: #f40ef0;
  transition: all .2s ease-out;
}

a:active path {
  fill: #fff;
} */

a:visited path {
  fill: #fff;
}
a:hover path {
  fill: #f40ef0;
  /* transition: all 0.2s ease-out; */
}
a:active path {
  fill: #fff;
}
